
.header-container{
    display: flex;
    position: relative;
    
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    width: 100;
    height: var(--header-height);
    padding: 1em;
    z-index: var(--z-modal);
    background-color: transparent;
    box-shadow: 0 0 10px #0000001a;

}

.header__logo-container{
    display: flex;
    align-items: center;
}

.header__logo-text{
    font-size: var(--normal-font);
    white-space: nowrap;
    font-weight: var(--font-bold);
    text-decoration: none;
    cursor: pointer;
    color: var(--principal-text);
}

.header__logo{
    width: 3em;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.header__logo:hover{
    transform: scale(1.1);
}

.header__nav-list{
    list-style: none;
    display: inline-flex;
    gap: 1.5em;
}
.header_nav-link{
    text-decoration: none;
    color: var(--principal-text);
}

.header_nav-item{
    position: relative;
    cursor: pointer;
}

.header_nav-item:hover::after{
    width: 100%;
}

.header_nav-item::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--principal-text);
    transition: width 0.3s ease-in;

}
