.about {
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 0 2%;
  gap: 1em;
  align-items: center;
  justify-content: space-between;
}
.about::-webkit-scrollbar{
    scrollbar-width: none;
}

.about__title {
  font-size: var(--big-font);
  font-weight: var(--font-bold);
  color: var(--principal-text);
}

.about__imagenCode {
  width: 100%;
  height: auto;
  flex-direction: column;
}

.about__description {
  font-size: var(--medium-font);
  font-weight: var(--font-normal);
  color: var(--secundary-text);
  color: rgba(152, 71, 219, 0.928);
}

.about__container-info {
  display: flex;
  flex-direction: column;
  
  
}



